@import views.html.helper._ormdata.ContactFormData]))
@import views.html.helper._

@Main("New Contact") {
  <div class="container">
  @form(routes.Application.postContact(), 'class -> "form-horizontal") {
    <input type = "hidden"
    name = "@contactForm("id").name"
    id = "@contactForm("id").id"
    value = "@contactForm("id").value" >

    <div class=" form-group @if(contactForm("firstName").hasErrors) {has-error}">
      <label for="first">First</label>
      <input type="text" class="form-control"
      name = "@contactForm("firstName").name"
      id = "@contactForm("firstName").id"
      value = "@contactForm("firstName").value"
      placeholder="First Name">
      <span class="help-block">@{
        contactForm("firstName").error.map { error => error.message}
      }</span>
    </div>
    <div class="form-group @if(contactForm("lastName").hasErrors) {has-error}">
      <label for="last">Last</label>
      <input type="text" class="form-control"
      name = "@contactForm("lastName").name"
      id = "@contactForm("lastName").id"
      value = "@contactForm("lastName").value"
      placeholder="Last Name">
      <span class="help-block">@{
        contactForm("lastName").error.map { error => error.message}
      }</span>
    </div>
    <div class="form-group @if(contactForm("telephone").hasErrors) {has-error}">
      <label for="digits">Digits</label>
      <input type="text" class="form-control"
      name = "@contactForm("telephone").name"
      id = "@contactForm("telephone").id"
      value = "@contactForm("telephone").value"
      placeholder="555-555-1111">
      <span class="help-block">@{
        contactForm("telephone").error.map { error => error.message}
      }</span>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  }
  </div>
}